@font-face {
  font-family: 'Share Tech Mono';
  src:
    url('/fonts/ShareTechMono-Regular.woff2') format('woff2'),
    url('/fonts/ShareTechMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src:
    url('/fonts/Metropolis-Bold.woff2') format('woff2'),
    url('/fonts/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src:
    url('/fonts/Metropolis-Black.woff2') format('woff2'),
    url('/fonts/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src:
    url('/fonts/Metropolis-ExtraBold.woff2') format('woff2'),
    url('/fonts/Metropolis-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src:
    url('/fonts/Metropolis-SemiBold.woff2') format('woff2'),
    url('/fonts/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src:
    url('/fonts/Metropolis-Light.woff2') format('woff2'),
    url('/fonts/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
