---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.svelte';
---

<Layout>
  <div class="crw-main">
    <div class="crw-main__side">
      <MainNav client:load />
    </div>
    <div class="crw-main__content">

    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/vars';

  .crw-main {
    display: grid;
    grid-template-columns: 60px 1fr;
  }
</style>
